.data-selector {
    display: flex;

    .selectors {
        width: 400px;
        align-items: center;
        justify-content: center;

        .field {
            display: flex;
            flex-direction: column;
        }

        .campaign {
            height: 200px;
        }
    }

    .chart {
        width: 65%;
    }
}